<header>
    <nav class="navbar row">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="" srcset=""> <span>MyApp</span>
        </div>
            <ul class="main-nav">
                
                <li *ngFor="let item of utilOptions"> 
                   <a routerLink="{{item.url}}" routerLinkActive="active" id={{item.name|lowercase}} [ngClass]="{'underlinedStyle': id == (item.name | lowercase)}" (click)="updateUnderlinedStyle(item.name)" > <strong> {{item.name}} </strong></a>  
                </li>
            
            </ul>
    </nav>
</header>